.container{
    width:400px;
    margin:40px auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-family:Arial;
}

input,
textarea{
    width:100%;
    padding:8px;
    margin-top:5px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}